.mat-headline {
    margin-top: 2rem;
    margin-left: 2rem;
}

form {
    margin-left: 2rem;
}

mat-form-field {
    width: 98%;
    margin-bottom: 8px;
}

button.addModel {
    margin-left: 1rem;
}

button.additionalSources {
    margin-bottom: 16px;
}

mat-checkbox {
    margin-bottom: 16px;
}

.hidden {
    display: none;
}
