.mat-headline {
    margin-top: 2rem;
    margin-left: 2rem;
}

form {
    margin-left: 2rem;
}

mat-form-field {
    width: 98%;
}

button.addModel {
    margin-left: 1rem;
}

button.additionalSources {
    margin-bottom: 10px;
}

mat-checkbox {
    margin-bottom: 10px;
}
