<mat-toolbar>
  <span>Models</span>
  <span class="navbar-spacer"></span>
  <a routerLink='/add-model'>
    <button mat-raised-button color="primary">Add Model</button>
  </a>
</mat-toolbar>

<div>
  <!-- Search model form -->
  <form id="search-form">
    <label class="mat-title" for="search-box">Name</label>
    <input #searchBox id="search-box" type="text">
    <button mat-raised-button (click)="searchModel('')">Clear</button>
    <button type="submit" color="primary" mat-raised-button (click)="searchModel(searchBox.value)">Search</button>
  </form>
</div>

<!-- Model list -->
<mat-nav-list>
  <mat-list-item *ngFor="let model of models">
    <mat-icon matListIcon>image</mat-icon>
    <a matLine routerLink="/models/{{model.id}}">{{ model.name }}</a>
    <p matLine>Uploaded: {{model.uploaded | date}}</p>
    <p matLine>Last Modified: {{model.lastModified | date}}</p>
    <a routerLink="/models/{{model.id}}">
      <button mat-raised-button color="primary">View</button>
    </a>
    <button mat-raised-button color="warn" (click)="openDeleteDialog(model)">Delete</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
