<mat-toolbar>
  <span>Models</span>
  <span class="navbar-spacer"></span>
  <a routerLink='/add-model'>
    <button mat-raised-button color="primary">Add Model</button>
  </a>
</mat-toolbar>

<div>
  <!-- Search model form -->
  <form id="search-form">
    <label class="mat-title" for="search-box">Search by Name</label>
    <input #searchBox (keyup)="searchModel($event.target.value)" id="search-box" type="text">
    <button *ngIf="searchBox.value.length > 0" mat-raised-button (click)="searchModel('')" color="accent">
      Clear
    </button>
  </form>
</div>

<!-- Model list -->
<h2 id='empty-list-msg' *ngIf="filteredModels.length == 0">No model meets the search criteria</h2>
<mat-nav-list>
  <mat-list-item *ngFor="let model of filteredModels">
    <mat-icon matListIcon>image</mat-icon>
    <a matLine routerLink="/models/{{model.id}}">{{ model.name }}</a>
    <mat-chip-list class="chip-list">
      <mat-chip
          *ngIf="getFormat(model) !== 'obj' && getFormat(model) !== 'gltf'" color="primary" selected>2D
      </mat-chip>
      <mat-chip
          *ngIf="getFormat(model) === 'obj' || getFormat(model) === 'gltf'" color="primary" selected>3D/VR
      </mat-chip>
    </mat-chip-list>
    <a matLine routerLink="/models/{{model.id}}">
      Format: {{model.sources[0].split('.')[model.sources[0].split('.').length - 1] | uppercase}}</a>
    <a matLine routerLink="/models/{{model.id}}">Uploaded: {{model.uploaded | date}}</a>
    <a matLine routerLink="/models/{{model.id}}">Last Modified: {{model.lastModified | date}}</a>
    <form>
      <div id="features-icons">
        <!-- View Feature Icon -->
        <mat-icon
            matTooltip="View feature available" color="primary">visibility
        </mat-icon>
        <!-- Navigation Feature Icon -->
        <mat-icon
            matTooltip="Navigation feature available" color="primary"
            *ngIf="getProvider(model.defaultProvider) !== undefined &&
              getProvider(model.defaultProvider).providerFeatures.includes('nav')">360
        </mat-icon>
        <!-- Mark Feature Icon -->
        <mat-icon
            matTooltip="Mark feature available" color="primary"
            *ngIf="getProvider(model.defaultProvider) !== undefined &&
              getProvider(model.defaultProvider).providerFeatures.includes('mark')">place
        </mat-icon>
      </div>

      <mat-form-field id="select-current-provider" appearance="standard">
        <mat-label>Current Provider</mat-label>
        <mat-select (selectionChange)="changeCurrentProvider(model, $event.value)" value="{{model.defaultProvider}}">
          <mat-option *ngFor="let providerId of model.supportedProviders" value="{{providerId}}">
            {{getProvider(providerId) !== undefined ? getProvider(providerId).name : ''}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <a routerLink="/models/{{model.id}}">
      <button mat-raised-button color="primary">View</button>
    </a>
    <button mat-raised-button color="warn" (click)="openDeleteDialog(model)">Delete</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>

<!-- Footer -->
<footer>
  <span class="footer-class">Author: Mauro Liuzzo</span>
  <span class="footer-class"><a routerLink="/info">Info and Contacts</a></span>
</footer>
