<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar>
      <span #modelName [contentEditable]="editModelMode">{{model.name}}</span>

      <span class="navbar-spacer"></span>

      <div *ngIf="!editModelMode && !editPointerMode">
        <button mat-raised-button color="primary" (click)="toggleEditModelMode(true)">Edit</button>
        <button mat-raised-button color="warn" (click)="goBack()">Back</button>
      </div>

      <button *ngIf="editModelMode && !pointerTrigger" mat-raised-button color="accent" (click)="activatePointerTrigger()">Add Pointer</button>
      <button *ngIf="editModelMode" mat-raised-button color="primary" (click)="editModel(modelName.innerHTML)">Done</button>
    </mat-toolbar>

    <mat-form-field *ngIf="editModelMode" appearance="outline" style="width: 50%; margin-left: 8px">
      <mat-label>Default Provider</mat-label>
      <mat-select [(value)]="selectedProvider">
        <mat-option *ngFor="let providerId of model.supportedProviders" value="{{providerId}}">
          {{providerId}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div id="rendering-area" (click)="deactivatePointerTrigger()"></div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" opened position="end">
    <h3>Pointer Message</h3>
    <form>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label *ngIf="pointerSupport">Pointer Message</mat-label>
        <mat-label *ngIf="!pointerSupport">Pointers are not supported</mat-label>
        <textarea #pointerMessage id="pointer-message" matInput [readonly]="!editModelMode || !editPointerMode || !pointerSupport"></textarea>
      </mat-form-field>

      <div>
        <div class="view-pointer-mode-buttons" *ngIf="editModelMode && !editPointerMode && pointerSupport">
          <button mat-raised-button color="primary" (click)="startEditPointerMode(pointerMessage.value)">Edit Message</button>
          <button mat-raised-button color="warn" (click)="openDeleteDialog()">Delete Pointer</button>
        </div>

        <div class="edit-pointer-mode-buttons" *ngIf="editModelMode && editPointerMode && pointerSupport">
          <button mat-raised-button (click)="pointerMessage.value = ''">Clear Message Field</button>
          <button mat-raised-button color="warn" (click)="undo()">Undo</button>
          <button mat-raised-button color="primary" (click)="editPointerMessage(pointerMessage.value)">Save</button>
        </div>

      </div>
    </form>
  </mat-sidenav>
</mat-sidenav-container>
