<mat-sidenav-container>
  <mat-sidenav-content>
    <!-- toolbar that contains model name, navigation buttons and edit buttons -->
    <mat-toolbar>
      <div>
        <span #modelName [class.editable]="editModelMode" [contentEditable]="editModelMode">{{model.name}} </span>
      </div>


      <span class="navbar-spacer"></span>

      <!-- navigation mode buttons-->
      <div *ngIf="!editModelMode && !editPointerMode">
        <button mat-raised-button color="primary" (click)="toggleEditModelMode(true)">Edit</button>
        <button mat-raised-button color="accent" (click)="goBack()">Back</button>
      </div>

      <!-- edit mode buttons-->
      <button *ngIf="editModelMode && pointerSupport && !pointerTrigger" mat-raised-button color="primary"
              (click)="activatePointerTrigger()">Add Pointer
      </button>
      <button *ngIf="editModelMode" mat-raised-button color="accent" [disabled]="editPointerMode"
              (click)="editModel(modelName.innerHTML, modelDescription.innerText)">Done
      </button>
    </mat-toolbar>
    <!-- rendering area -->
    <!-- some providers inject their own html tags -->
    <div id="rendering-area" (click)="deactivatePointerTrigger()"></div>
  </mat-sidenav-content>

  <mat-sidenav mode="side" opened position="end">
    <!-- model metadata -->
    <div id="model-info">
      <h3><b>Model Info</b></h3>
      <p #modelDescription [class.editable]="editModelMode" [contentEditable]="editModelMode">
        <em>{{model.description}}</em></p>
      <p *ngIf="provider !== null">Current Provider: {{provider.name}}
        <!-- Feature icons -->
        <span>
          <mat-icon matTooltip="View feature available" color="primary">visibility</mat-icon>
          <mat-icon
              *ngIf="provider !== null && provider.providerFeatures.includes('nav')"
              matTooltip="Navigation feature available" color="primary">360</mat-icon>
          <mat-icon
              *ngIf="provider !== null && provider.providerFeatures.includes('mark')"
              matTooltip="Mark feature available" color="primary">place</mat-icon>
        </span>
      </p>
      <p *ngIf="model.sources[0] !== undefined">
        Format: {{model.sources[0].split('.')[model.sources[0].split('.').length - 1] | uppercase}}</p>
      <p>Uploaded: {{model.uploaded | date}}</p>
      <p>Last Modified: {{model.lastModified | date}}</p>
    </div>

    <div id="pointer-message-section">
      <form>
        <!-- Default Provider selection -->
        <mat-form-field *ngIf="editModelMode" appearance="standard">
          <mat-label>Default Provider</mat-label>
          <mat-select [(value)]="selectedProvider">
            <mat-option *ngFor="let provider of this.supportedProviders" value="{{provider.id}}">
              {{provider.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Pointer message view -->
        <div>
          <h3 *ngIf="pointerSupport"><b>Pointer Message</b></h3>

          <p *ngIf="pointerSupport && !editPointerMode" id="pointer-message">Click on a pointer</p>

          <mat-form-field [class.hidden]="!editPointerMode" class="example-full-width" appearance="outline">
            <mat-label *ngIf="pointerSupport">Pointer Message</mat-label>
            <textarea #pointerMessageEdit id="pointer-message-edit" matInput
                      [readonly]="!editModelMode || !editPointerMode || !pointerSupport"></textarea>
          </mat-form-field>
        </div>

        <!-- Edit Pointer section -->
        <div>
          <div class="view-pointer-mode-buttons" *ngIf="editModelMode && !editPointerMode && pointerSupport">
            <button mat-raised-button color="primary" (click)="startEditPointerMode(pointerMessageEdit.value)"
                    [disabled]="provider.selectedPointerId === null">Edit Message
            </button>
            <button mat-raised-button color="warn" (click)="openDeleteDialog()"
                    [disabled]="provider.selectedPointerId === null">Delete Pointer
            </button>
          </div>

          <div class="edit-pointer-mode-buttons" *ngIf="editModelMode && editPointerMode && pointerSupport">
            <button mat-raised-button (click)="pointerMessageEdit.value = ''">Clear Message Field</button>
            <button mat-raised-button color="accent" (click)="undo()">Undo</button>
            <button mat-raised-button color="primary" (click)="editPointerMessage(pointerMessageEdit.value)">Save
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Navigation Caption -->
    <div *ngIf="provider !== null && provider.providerFeatures.includes('nav') && !editPointerMode" class="caption">
      <p class="mat-title">Caption</p>
      <!-- A-Frame Caption -->
      <div *ngIf="provider.renderingEngine==='a-frame'">
        <ul>
          <li><p>Use WASD to move within the scene</p></li>
          <li><p>Use the mouse to rotate the view</p></li>
        </ul>
      </div>
      <!-- ThreeJs Caption -->
      <div *ngIf="provider.renderingEngine==='three.js'">
        <ul>
          <li><p>Use mouse wheel to zoom in/out</p></li>
          <li><p>Use the mouse to rotate the view</p></li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
