<div id="accordion-container">
  <mat-accordion>
    <!-- Internal References -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Internal References
        </mat-panel-title>
        <mat-panel-description>
          Source code and Documentation
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h4>Useful Links</h4>
      <ul>
        <h4>Source Code</h4>
        <li><a href="https://github.com/liuzzom/waldo-front-end" target="_blank">Waldo GitHub Repository</a></li>
        <li><a href="https://github.com/liuzzom/3d-model-parsers-test" target="_blank">
          Experimental Code Repository
        </a></li>
        <h4>Development Documentation</h4>
        <li><a
            href="https://docs.google.com/document/d/1v4c6Lw_ve_vWkJD5geaZmOb3pAjJ_ywr05ypYWhyF80/edit?usp=sharing"
            target="_blank">
          Application Domain Approach Document (in Italian)
        </a></li>
        <li><a
            href="https://docs.google.com/document/d/1bK4TXn0a3MahPh3NU0xLFEtQaIAg3j-BHuN6jNwv_Ug/edit?usp=sharing"
            target="_blank">
          Requirement Analysis Document (in Italian)
        </a></li>
        <li><a
            href="https://docs.google.com/document/d/1agmJ1j1ONknTfrMZRue9bPpEqKIrOmg-Fmp8lrAh6ps/edit?usp=sharing"
            target="_blank">
          System Design Document (in Italian)
        </a></li>
        <h4>Contacts</h4>
        <li><a href="https://github.com/liuzzom/waldo-front-end/issues" target="_blank">Open an Issue</a></li>
        <li><a href="https://github.com/liuzzom" target="_blank">Author Github Profile</a></li>
        <li><a href="mailto://mauro.liuzzo@hotmail.it" target="_blank">Send me an email</a></li>
      </ul>
    </mat-expansion-panel>

    <!-- External References -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          External References
        </mat-panel-title>
        <mat-panel-description>
          Libraries and Technical References
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h4>Useful Links</h4>
      <ul>
        <h4>Leaflet</h4>
        <li><a href="https://leafletjs.com/reference-1.7.1.html" target="_blank">Leaflet Documentation</a></li>
        <h4>WebGL</h4>
        <li><a href="https://www.khronos.org/registry/webgl/specs/1.0/" target="_blank">WebGL Specification</a></li>
        <h4>ThreeJS</h4>
        <li><a
            href="https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene"
            target="_blank">
            ThreeJS Documentation
        </a></li>
        <li><a href="https://threejsfundamentals.org/" target="_blank">ThreeJS Fundamentals</a></li>
        <h4>A-Frame</h4>
        <li><a href="https://aframe.io/docs/1.2.0/introduction/" target="_blank">A-Frame Documentation</a></li>
        <li><a href="https://aframe.io/aframe-school/#/" target="_blank">A-Frame School</a></li>
        <h4>JSON Server</h4>
        <li><a href="https://github.com/typicode/json-server" target="_blank">GitHub Repository</a></li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
