#accordion-container {
    margin: 16px auto 0;
    width: 95%
}

a {
    text-decoration: none;
    color: #3f51b5;
}

li {
    margin-bottom: 8px;
}

ul h4 {
    margin-top: 32px;
    margin-bottom: 8px;
}
